body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 30rem;
  min-height: 50rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link-button {
  background: none;
  text-decoration: underline;
  border: none;
  padding: 0;
  color: #069;
  cursor: pointer;
}

.note-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.card {
  width: 90vw;
}

.modal-body input,
.modal-body textarea {
  margin: auto;
  width: 90vw;
}

#button-logout,
#add-button {
  margin: 1rem;
}

#invalid-password {
  border: 3px solid red;
  padding: 1rem;
  color: red;
}

.hidden {
  display: none;
}

#share-modal {
  display: flex;
  flex-direction: column;
}

#share-success {
  position: fixed;
  top: 10px;
  right: 50vw;
}
