/* font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif; */
/*
const DARK_BLUE = #5680e9
const SKY_BLUE = #84ceeb
const CYAN = #5ab9ea
const PERIWINKLE = #c1c8e4
const PURPLE = #8860d0
*/

:root {
  --DARK_BLUE: #5680e9;
  --SKY_BLUE: #84ceeb;
  --CYAN: #5ab9ea;
  --PERIWINKLE: #c1c8e4;
  --PURPLE: #8860d0;
  --RITURAJ_GREEN: #23d5ab;
  --DARK_BLUE_T: rgba(86, 128, 233, 0.8);
  --SKY_BLUE_T: rgba(132, 206, 235, 0.8);
  --CYAN_T: rgba(90, 185, 234, 0.8);
  --PERIWINKLE_T: rgba(193, 200, 228, 0.8);
  --PURPLE_T: rgba(136, 96, 208, 0.8);
}

#root > div {
  margin-top: 2em;
}

div#home {
  margin-top: 0;
}

body * {
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f8ff;
  /* background: linear-gradient(var(--SKY_BLUE), transparent),
    linear-gradient(to top right, var(--DARK_BLUE), transparent),
    linear-gradient(to bottom right, var(--PURPLE), transparent),
    linear-gradient(to bottom left, var(--CYAN), transparent);
  background-blend-mode: screen;
  min-height: 100vh; */
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 600px;
  width: 450px; */
  height: 50rem;
  width: 30rem;
}

#home {
  min-height: 100vh;
  background: linear-gradient(-45deg, #5680e9, #8860d0, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#notes-main {
  display: flex;
  flex-grow: 999;
}
#notes-wrapper {
  margin: 0 2vw;
  flex-basis: 60vw;
  min-height: 10vh;
  flex-grow: 9999;
}

.card {
  margin: auto;
  min-width: 59vw;
  width: 59vw;
}

#invalid-password {
  border: 3px solid red;
  padding: 1rem;
  color: red;
}

.hidden {
  display: none;
}

.suggested-user {
  border: 1px solid black;
}

#share-modal {
  display: flex;
  flex-direction: column;
}

#share-success {
  position: fixed;
  top: 10px;
  right: 50vw;
}

.profile-pic-small {
  width: 3rem;
  height: 3rem;
}

.profile-pic-big {
  width: 25vh;
  height: 25vh;
}

.circle-pic {
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
}

#test {
  text-transform: capitalize;
}

.Container {
  margin: auto !important;
}

.Secondary {
  display: none !important;
}

.exit {
  position: absolute;
  right: 10px;
  padding: 0px;
  top: -10px;
  font-size: 4em;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
